body {
  background-color: LightBlue;
}

a:hover {
  color: white;
}
p, li {
  font-family: oxtail, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px
}

ul {
  color: LightSeaGreen;
  font-family: oxtail, serif;
  font-weight: 550;
  font-style: normal;
  font-size: 25px
}

h1 {
  font-family: oxtail, serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  width: 20vw;
  margin: 25px auto;
  background-color: azure;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
}
@media screen and (max-width: 500px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
  h1 {
    font-size: 3rem;
  }
}
