* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #333333;
}
.board {
  width: 900px;
  background-color: slateblue;
  padding: 50px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: white;
}
.black {
  background-color: #333333;
}

.container {
  width: 1000px;
  background-color: blue;
  display: flow-root;
}
.head, .footer {
  background-color: slateblue;
  width: 1000px;
  height: 100px;
  float: left;
  margin-top: 50px;
  margin-bottom: 25px;
}
.subhead {
  background-color: slateblue;
  width: 1000px;
  height: 50px;
  float: left;
}
.column {
  background-color: slateblue;
  width: 300px;
  height: 600px;
  float: left;
  margin-top: 50px;
  margin-right: 20px;
}

.header2 {
  width: 900px;
  background-color: slateblue;
  padding: 50px;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
}
.column-center2 {
  background-color: red;
  margin: 25px;
  width: 500px;
  height: 700px;
  float: left;
}
.column-right2 {
  background-color: red;
  margin: 25px;
  width: 300px;
  height: 300px;
  display:flow-root;
  margin-left: auto;
  margin-right: auto;
}
.footer2 {
  width: 900px;
  background-color: red;
  padding: 50px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
