* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.apple {
  width: 200px;
  height: 100px;
  margin: 200px auto;
  background-color: grey;
  top: 100px;
  left: 500px;
}
.top-ap {
  width: 150px;
  height: 75px;
  margin: -125px auto;
  background-color: darkgray;
  top: 500px;
  left: 500px;
}
.center-ap {
width: 600px;
height: 600px;
background-color: black;
position: absolute;
top: 250px;
left: 630px;
border-radius: 50%;
}
